
body {
    background-color: #E5E5E5;
}

/* Navbar */
.logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.bg-custom{
    background-color: #FFD779;
    padding:0;
}

.nav-item-custom{
    font-weight: 700;
    color: rgba(255, 255, 255, .7);
    margin-right: 70px;
    text-decoration: none;
}

.nav-item-custom:hover {
    color: rgba(255, 255, 255, .7);
   
}

.profile {
    justify-content: center;
    flex-direction: column;
    width: 50px;
    height: 100%;
}

.profile-thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #C4C4C4;
    
}

.profile-thumbnail p {
    all:unset;
    font-weight: bold;
}


/* Home */

.header-section {
    padding-left:18.33% ;
    padding-right:18.33% ;
    max-width: 100vw;
}

.row {
    margin: unset
}
.title {
    /* position: absolute; */
    margin: auto;
    margin-top: 80px;    
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 51px;
    text-align: center;
    letter-spacing: -0.02em;

    /* Gradient Dark */
    color: linear-gradient(90deg, #80688E 0%, #4F586A 100%);
}
.subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    text-align: center;
    letter-spacing: 0.15px;

    /* Dark Color */

    color: rgba(0, 0, 0, 0.87);
}
.button-wrapper {
    width: 210px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.btn-custom-secondary {
    background: #FF8F52;
/* Shadow Blue · 16dp */
    height: 48px;
    width: 100px;
    box-shadow: 0px 16px 24px rgba(54, 123, 245, 0.16), 0px 6px 12px rgba(54, 123, 245, 0.16);
    border-radius: 6px;

    /* Text */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;

    /* White Base */

    color: #FFFFFF;
}

.btn-custom-secondary:hover {
    box-shadow: 0px 16px 24px rgba(54, 123, 245, 0.40), 0px 6px 12px rgba(54, 123, 245, 0.16);
    border-radius: 6px;
    color: #FFFFFF;
}

.btn-custom-outline-secondary {
    border-color: #FF8F52;
/* Shadow Blue · 16dp */
    height: 48px;
    width: 100px;
    border-radius: 6px;

    /* Text */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;

    

    color: #FF8F52;
}

.btn-custom-outline-secondary:hover {
    box-shadow: 0px 16px 24px rgba(54, 123, 245, 0.16), 0px 6px 12px rgba(54, 123, 245, 0.16);
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #FF8F52;
}

.image-wrapper {
    border-width: 1px;
    border-color: seagreen;
    position: relative;
    margin:auto;
    width: 100%;
    height: 400px;
}

.calendar-image {
    position: absolute;
    width: 161px;
    height: 123.56px;
    top: calc(30% - 123.56px/2 + 19.72px);
    left: calc(50% - 360px);

    filter: drop-shadow(0px 29.9535px 39.938px rgba(8, 35, 48, 0.06)), drop-shadow(0px 9.9845px 19.969px rgba(8, 35, 48, 0.1));
}

.sport-image {
    position: absolute;
    width: 480px;
    height: 360px;
    border-radius: 8px;
    left: calc(50% - 480px / 2) ;
    
}

.logo-image {
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% + 360px / 2) ;
    top: calc(20% - 123.56px/2 + 19.72px);
}
/* Search Home Screen */
.search-section {
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    background: #FAFAFA;
    /* 2 dp */

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.search-section .category {
    width: 20%;
    height: 60%;
    
    /* background-color: green; */
    border-bottom: 1px solid grey;
}
.text-style-roboto {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* identical to box height, or 143% */

    letter-spacing: 0.25px;
}
.search-section .search-bar {
    width: 50%;
    height: 60%;
    
    /* background-color: green; */
    border-bottom: 1px solid grey;
}

.search-section .search-bar input {
    all:unset;
    width:100%;
}
.search-section .search-bar input::placeholder {
    all:unset;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
.search-section .location {
    width: 20%;
    height: 60%;
    border-bottom: 1px solid grey;
}

.dropdown span {
    width: 100%;
}

.search-icon {
    float: right;
    margin-top: -15px;
}
.map-icon {
    float: right;
    margin-top: -17px;
}

.merchant-wrapper {
    width: 85%;
    margin-top: 30px;
    margin-bottom: 300px;
    padding: unset;
}

/* Login */


.background-login {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.card-custom {
    margin: auto;
    margin-top: 136px;
    width: 500px;
    height: 378px;
    background-color: #ffffff;
    background-blend-mode: darken;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.login-title {
    /* UI - 30 Semi */
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 33px;

    /* Black */

    color: #000000;
}

/* Form */

.form-login {
    margin: auto;
    width: 65%;
}
.stylish {
    width: 100%;
    margin: 8px 0px 8px;
}
.stylish input{
    padding: 0.6rem 1rem;
    border: 0px none transparent;
    border:1px solid #BDBDBD;
    border-radius: 4px;
    outline: none;
    background-color:transparent;
    font-size: 1rem;
    width: 100%;
  }
  
  .stylish:focus{
    background-color:#f9f9f9;
  }

  input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #BDBDBD;
  }
  
  .form-container{
    background-color:#fffFFF;
    padding: 1rem;
    display: inline-block;
  }

  .button-login {
    margin: 15px 0px 9px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: #FF8F52;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    color: #FFFFFF;
    width: 100%;
    height: 36px;
    box-shadow: 0px 16px 24px rgba(245, 146, 54, 0.16), 0px 6px 12px rgba(245, 130, 54, 0.16);
    border-radius: 6px;
  }
  .button-signup {
    margin: 11px 0px 9px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: #3F3734;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    color: #FFFFFF;
    width: 100%;
    height: 36px;
    background-blend-mode: darken;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }

  .button-signup:hover {
    color: #FF8F52;
  }

.Not-Have-Account{
    margin: 0px;
    padding: unset;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    /* identical to box height */


    /* Green/Primary */

    color: #5DB075;
}
.show-password {
    float: right;
    margin-right: 10px;
    margin-top: -30px;
    position: relative;
    z-index: 2;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;

    color: #FF8F52;
  }

.show-password:hover{
    cursor: pointer;
}

.card-Merchant {
    width: 320px;
    height: 244px;
    margin-bottom: 20px;
    overflow: hidden;

    /* background: #FFFFFF; */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.card-Merchant img {
    width: 100%;
    height: 160px;
}

.info-wrapper {
    width: 100%;
    margin-top: 10px;
}
.card-name {
    margin:auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    width: 90%;
    letter-spacing: 0.15px;
    
    /* Black / High Emphasis */
    
    color: rgba(0, 0, 0, 0.87);
    mix-blend-mode: normal;
}
.card-place {
    margin-left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */

    letter-spacing: 0.25px;

    /* Black / Medium Emphasis */

    color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: normal;
  }


.merchant-information {
    margin-top: 14px;
    width: 90%;
    margin-left: 35px;
    background: #FFFFFF;
    /* 6 dp */

    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.merchant-information img {
    width: 100%;
    height: 420px;
}

.maps {
    margin-top: 14px;
    width: 100%;
    background: #FFFFFF;
    /* 6 dp */

    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

/* Responsive Rule Set */
  @media screen and (max-width: 600px) {
    .card-custom {
      width: 80vw;
    }
    .search-section{
        margin-top: 60px;
        width: 98%;
    }
    
  }
 
  